<ng-include src="'partials/header.html'" ng-controller="DinnerCtrl"></ng-include>
<!-- We include the sidebar as it is shared across two screens. -->

<div id="overviewView" class="view">
    <div class="row headerRow sumBar">
      <div class="col-md-8 big-spans">
        <span> My dinner: </span> <span id="people"> 4 </span> <span> people</span>
      </div>
      <div class="col-md-4">
        <a class="btn purple-btn" id="goBackAndEditDinnerButton" href="#/search">Go back and edit dinner</a>
      </div>
    </div>

    <div class="row" id="listOfPlatters" ng-repeat="dish in getDinnerMenu()">
      <div class ="col-md-2 col-md-offset-1">
      	<img src="{{dish.ImageURL || dish.HeroPhotoUrl}}" width="100%">
      	<p> {{dish.Title}} </p>
      </div>
      <!-- Get dinner menu and add here using overviewController.setDinnerItems -->
    </div>
    
    <div class="row">
      <div class="col-md-12">
        <hr>
      </div>
    </div>

    <div class="row" id="buttonHolder">
      <div class="col-md-4 col-md-offset-5">
        <a class="btn purple-btn" href="#/instructions" id="instructButton">Print full recipe</a>
      </div>
    </div>
</div>