
<!-- TODO in Lab 5: Display the items on the menu with cost for each -->


<!-- Displaying number of guests both in input box and here is redundant. It is here only for the example
purpose so you can see how some information from the model can be retrieved. In Lab 5 you will replace 
this with Total price of the menu -->
<!-- Total number of guest: {{getNumberOfGuests()}} -->

<div id="sidebarView" class="col-md-3 view">
  <h3>My Dinner</h3>
  <div class="row">
    <div class="col-sm-4">
      <span>People: </span>
    </div>
    <div class="col-sm-7">
      <input type="number" ng-model="numberOfGuests" ng-change="setNumberOfGuest(numberOfGuests)"/>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 tablePrice">
      <table width="100%">
        <thead>
          <tr>
            <td>Dish Name:</td>
            <td>Cost</td>
          </tr>
        </thead>
        <tbody id="foodItems" ng-repeat="dish in getDinnerMenu()">
          <td>{{dish.Title}}</td>
          <td>{{totalCost(dish)}}</td>
        </tbody>
      </table>
      <hr>
    </div>
  </div>
  <div class="row tablePrice">
    <div class="col-sm-6 col-sm-offset-6">
      <span>SEK</span> <span id="agregateCost">{{getTotalMenuPrice()}}</span>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12"> 
      <a class="btn btn-primary center-block" href="#/confirm" id="confirmDinner">Confirm Dinner</a>
    </div>
  </div>
</div>