<ng-include src="'partials/header.html'" ng-controller="DinnerCtrl"></ng-include>

<!-- We include the sidebar as it is shared across two screens. -->
<ng-include src="'partials/dinner-sidebar.html'" ng-controller="DinnerCtrl"></ng-include>

<!-- TODO in Lab 5: Display the dish information including image, Description, 
Instructions, Ingredients and total cost. -->
<div id="recipeView" class="col-md-9 view">
<!-- {{getDishId()}} -->
<!-- <button ng-click='getDish()'></button> -->
<!-- {{currentDish}} -->
  <div class="row">
    <div class="col-md-6">
      <h2 id="foodName">{{currentDish.Title}}</h2>
      <div class="row">
        <div class="col-sm-12">
          <img id="foodImage" src="{{currentDish.ImageURL || currentDish.HeroPhotoUrl}}" width="100%">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <p id="details">{{currentDish.Instructions}}
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <a class="btn" id="backToSelectDish" href="#/search" style="color: black !important">Back to select dish</a>
        </div>
      </div>
    </div>
    <div class="col-md-6 ingredientsTable">
      <div class="row">
        <div class="col-sm-12">
          <h3>Ingredients for <span id="recipeNumPeople">4</span> people:</h3>
        </div>
      </div>
      <hr>
      <div class="row">
        <div id="ingredientsList" class="col-sm-12" ng-repeat="ingr in currentDish.Ingredients">

          <div class="col-sm-3">{{ingr.Quantity * guests}} {{ingr.Unit}}</div>
          <div class="col-sm-5">{{ingr.Name}}</div>
          <div class="col-sm-2">SEK</div>
          <div class="col-sm-2">{{ingr.Quantity * guests}}</div>
        </div>
        <hr>
        <div class="row spacing">
          <div class="col-sm-3 col-sm-offset-8">SEK <span id="totalCostOfRecipe">{{totalCost()}}</span>
          </div>
          <div class="row spacing">
            <div class="col-sm-9 col-sm-offset-1">
              <a class="btn" ng-click="confirmDish()" href="#/search" style="color: black !important;  background-color: #A08585 !important;">Confirm dish</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>