<ng-include src="'partials/header.html'" ng-controller="DinnerCtrl"></ng-include>
<!-- We include the sidebar as it is shared across two screens. -->

<div id="instructionsView" class="view">
    <div class="row sumBar">
      <div class="col-md-8 big-spans">
        <span> My dinner: </span> <span id="peopleInst"> 4 </span> <span> people</span>
      </div>
      <div class="col-md-4">
        <button class="btn purple-btn" id="goBackAndEditDinner" href="#/search.html">Go back and edit dinner</button>
      </div>
    </div>
    <div class="row" id="instructionsHolder">
      <!-- Insert instructions here dynamically using instructionsView.setInstructions -->     
    </div>
</div>